# Python
**/__pycache__/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env

# Database
*.db
app.db

# Logs
logs/
*.log

# Generated storage files
storage/input/
storage/output/
storage/exports/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml